.sidebar {
background-color: #fff;
color: black;
padding: 20px;
}
.courseInfo {
font-size: 20px;
margin-bottom: 20px;
}
.menu .menuItem {
background-color: #fff;
color: black;
padding: 10px 20px;
margin-right: 10px;
border: none;
cursor: pointer;
}
.general .generalHeader {
font-weight: bold;
margin-bottom: 10px;
}
.general .generalContent .contentItem {
margin-bottom: 5px;
}
  